sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs/
electron_mirror=https://npm.taobao.org/mirrors/electron/
# 在使用 npm publish 的时候注释下面这行，否则就会发布到淘宝源上去了
registry=https://registry.npm.taobao.org