$button-height: 32px;
$font-size: 14px;
$button-bg: white;
$button-active-bg: #eee;
$border-radius: 4px;
$color: #333;
$border-color: #999;
$border-color-hover: #666;
$grey:#ddd;
$green: #3eaf7c;
$blue:#06f;
$height: 32px;
$red: #e81123;
$input-font-size: 12px;
$box-shadow-color: rgba(0, 0, 0, 0.5);
$popover-border-color:#333;
$tab-height:40px;
$tabs-border-color:#ddd;
$disable-text-color: grey;
$toast-min-height: 40px;
$toast-bg: rgba(0, 0, 0, 0.75);